<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>LuShu</title>
</head>

<body bgcolor="#FFFFFF" text="#000000" link="#000000" vlink="#000000" alink="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="-webkit-text-size-adjust:none; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased;">


<table cellpadding="0" cellspacing="0" width="704" align="center" style="font-size:20px; font-family:'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei'; color:#4F5A61; background-color:#FFF; line-height:32px; border:2px #ECEEF1 solid">
	<tr>
		<td width="50"><img src="http://static.lushu.com/images/email/blank.jpg" width="50" height="30" border="none" style="display:block"/></td>
		<td width="600">&nbsp;</td>
		<td width="50"><img src="http://static.lushu.com/images/email/blank.jpg" width="50" height="30" border="none" style="display:block"/></td>
	</tr>

	<tr>
		<td>&nbsp;</td>
		<td><img src="http://static.lushu.com/images/email/logo.jpg" width="80" height="60" border="none" style="display:block" alt="路书"/></td>
		<td>&nbsp;</td>
	</tr>

	<tr>
		<td><img src="http://static.lushu.com/images/email/blank.jpg" width="50" height="30" border="none" style="display:block"/></td>
		<td>&nbsp;</td>
		<td><img src="http://static.lushu.com/images/email/blank.jpg" width="50" height="30" border="none" style="display:block"/></td>
	</tr>

	<tr>
		<td>&nbsp;</td>
		<td style="font-size:20px" height="46px">
		<strong style="color:#00A4A8;">{{ user.name }} 您好：</strong><br/>
		</td>
		<td>&nbsp;</td>
	</tr>

		<tr>
		<td>&nbsp;</td>
		<td style="font-size:16px">
      <br/>
		  路书 · 云TOS于近日进行了系统升级，此次升级优化了不少细节体验，使用更顺畅啦，小助手为您一一道来：
      <br/><br/>
		</td>
		<td>&nbsp;</td>
	</tr>




	<tr>
		<td>&nbsp;</td>
		<td>
			<table width="600" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td width="30" valign="top" style="font-size:20px; line-height:30px">一、</td>

					<td width="570">
					<div style="font-size:20px; line-height:30px">功能优化部分</div><br/>
            <ol style="margin: 0; padding: 0; font-size:16px;">
              <li>
                编辑行程时，可以直接在路书中编辑城际交通。使得修改城际交通更便捷，无需再次进入资源库修改城际交通。<br/><br/>
					      <img src="http://static.lushu.com/images/email/20171226_1.png" width="560" border="none" style="display:block" /><br/>
              </li>
              <li>
                编辑行程时，创建内容按钮可以更迅速找到。例如搜索城市或POI显示24条后，显示创建城市或创建POI按钮。无需下滑很多页才显示创建按钮。<br/><br/>
              </li>
              <li>
                在日程安排中，搜索后新增”新建城市“按钮。使得添加城市更便捷，无需再次进入编辑页面添加城市。<br/><br/>
					      <img src="http://static.lushu.com/images/email/20171226_2.png" width="560" border="none" style="display:block" /><br/>
              </li>
              <li>
                上传POI第一张图片时，可以快速设置为封面。<br/><br/>
					      <img src="http://static.lushu.com/images/email/20171226_3.png" width="560" border="none" style="display:block" /><br/>
              </li>
              <li>
                修改了费用核算住宿在总价中的计算方法为“单价*添加数量*天数”，使得费用核算总价更加符合实际业务需求。<br/><br/>
              </li>
              <li>
                微信版路书页面中POI及其他内容的封面去除置灰设置。修复了用户添加的封面图在H5版路书置灰后视觉效果不好的问题。<br/><br/>
              </li>
              <li>
                路书封面裁剪新增提示最佳尺寸大小的文案。<br/><br/>
					      <img src="http://static.lushu.com/images/email/20171226_4.png" width="560" border="none" style="display:block" /><br/>
              </li>
              <li>
                编辑行程时，POI、产品、酒店自动按照使用频率排序。定制师制作固定线路时添加常用poi将更加方便，节省时间。<br/><br/>
              </li>
              <li>
                标签管理与标签选择增加数量限制。<br/><br/>
              </li>
              <li>
                PDF／微信版／APP／行程单 中可以正常显示出发／返回城市。<br/><br/>
              </li>
            </ol>

					</td>
				</tr>
			</table>

		</td>
		<td>&nbsp;</td>
	</tr>




	<tr>
		<td>&nbsp;</td>
		<td>
			<table width="600" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td width="30" valign="top" style="font-size:20px; line-height:30px">二、</td>

					<td width="570">
					<div style="font-size:20px; line-height:30px">细节和界面优化部分</div><br/>
            <ol style="margin: 0; padding: 0;font-size:16px;">
              <li>
                优化发布配置子项目的选中样式。<br/><br/>
              </li>
              <li>
                POI列表中-切换城市的样式设计更加醒目。<br/><br/>
              </li>
              <li>
                APP发布配置：新增APP下载说明。<br/><br/>
              </li>
              <li>
                导入模版日程安排新增今日介绍。<br/><br/>
              </li>
              <li>
                PDF-日程安排地图下新增POI名称。便于C端用户快速浏览当天POI。<br/><br/>
              </li>
              <li>
                PDF-修改页眉字号大小与字数。使得页眉的文案名称更加完整。<br/><br/>
              </li>
            </ol>

					</td>
				</tr>
			</table>

		</td>
		<td>&nbsp;</td>
	</tr>

	<tr>
		<td></td>
		<td><img src="http://static.lushu.com/images/email/border.jpg" width="600" height="30" border="none" style="display:block"/></td>
		<td></td>
	</tr>

	<tr>
		<td></td>
		<td style="font-size:16px; line-height:26px">

			欢迎您登录“路书 · 云TOS”使用新功能，若有任何疑问或建议，请联系路书小助手，将有专属的客服为您解答哟~
			<br/><br/>

      路书小助手QQ：3256459312
      <br/>

      路书小助手微信：LushuCo
      <br/><br/>

			<span style="color:#292E31; font-size: 14px;">路书团队</span><br/>
			<span style="color:#292E31; font-size: 14px;">2017年12月29日</span><br/>

		</td>
		<td></td>
	</tr>

	<tr>
		<td><img src="http://static.lushu.com/images/email/blank.jpg" width="50" height="50" border="none" style="display:block"/></td>
		<td></td>
		<td>&nbsp;</td>
	</tr>

</table>




</body>
</html>
