<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>LuShu</title>
<style type="text/css">
  td { font-size: 14px }
</style>
</head>

<body bgcolor="#FFFFFF" text="#000000" link="#000000" vlink="#000000" alink="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="-webkit-text-size-adjust:none; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased;">


<table cellpadding="0" cellspacing="0" width="700" align="center" style="font-size:16px; font-family:'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei'; color:#4F5A61; background-color:#FFF; line-height:26px; border:2px #ECEEF1 solid">
	<tr>
		<td width="50"><img src="http://static.lushu.com/images/email/blank.jpg" width="50" height="30" border="none" style="display:block"/></td>
		<td width="600">&nbsp;</td>
		<td width="50"><img src="http://static.lushu.com/images/email/blank.jpg" width="50" height="30" border="none" style="display:block"/></td>
	</tr>

	<tr>
		<td>&nbsp;</td>
		<td><img src="http://static.lushu.com/images/email/logo.jpg" width="80" height="60" border="none" style="display:block" alt="路书"/></td>
		<td>&nbsp;</td>
	</tr>

	<tr>
		<td><img src="http://static.lushu.com/images/email/blank.jpg" width="50" height="30" border="none" style="display:block"/></td>
		<td>&nbsp;</td>
		<td><img src="http://static.lushu.com/images/email/blank.jpg" width="50" height="30" border="none" style="display:block"/></td>
	</tr>

	<tr>
		<td>&nbsp;</td>
		<td>
		尊敬的{{ user.name }}，<br/><br/>


 </td>
		<td>&nbsp;</td>
  </tr>


	<tr>
		<td>&nbsp;</td>
		<td>

			您好，路书云系统将于2018年9月8日（本周六）凌晨00:00~中午12:00 进行升级维护，期间系统将无法进行正常使用。同时，已经发布的线路（包括微信版以及路书管家app版）将暂时无法进行查看。如有相应业务需求，请您提前作好准备。
			<br/><br/>
			服务暂停期间如有任何疑问可添加微信路书小助手（LushuCo）留言，我们会尽快为您解答。<br/><br/>
			由此给您带来的不便尽请谅解，感谢您的支持！<br/><br/>
   </td>
		<td>&nbsp;</td>
  </tr>

	<tr>
		<td></td>
		<td><img src="https://static.lushu.com/images/email/border.jpg" width="600" height="30" border="none" style="display:block"/></td>
		<td></td>
	</tr>
  <tr>
		<td>&nbsp;</td>
		<td>
			路书小助手<br/>
			微信号：LushuCo
<br/><br/>
		</td>
		<td>&nbsp;</td>
	</tr>
	
</table>


  

</body>
</html>
