<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>LuShu</title>
</head>

<body bgcolor="#FFFFFF" text="#000000" link="#000000" vlink="#000000" alink="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="-webkit-text-size-adjust:none; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased;">

 
<table cellpadding="0" cellspacing="0" width="700" align="center" style="font-size:16px; font-family:'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei'; color:#4F5A61; background-color:#FFF; line-height:26px; border:2px #ECEEF1 solid">
	<tr>
		<td width="50"><img src="https://static.lushu.com/images/email/blank.jpg" width="50" height="50" border="none" style="display:block"/></td>
		<td width="600">&nbsp;</td>
		<td width="50"><img src="https://static.lushu.com/images/email/blank.jpg" width="50" height="50" border="none" style="display:block"/></td>
	</tr>


	<tr>
		<td>&nbsp;</td>
		<td>
		您好，{{ invitee.name }}！<br/><br/>

{% if byAdmin %}
您被邀请加入了 {{ organization.name }} 路书云企业版。<br/><br/>
{% else %}
邀请人{{ invitor.name }}（{{ invitor.email }}）已经邀请您加入了 {{ organization.name }} 路书云企业版。<br/><br/>
{% endif %}

您的登录信息：<br/>
账户：{{ invitee.email }}<br/>
初始密码：{{ invitee.password }}<br/><br/>

建议您初次登录之后修改密码


</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td><img src="https://static.lushu.com/images/email/blank.jpg" width="50" height="100" border="none" style="display:block"/></td>
		<td valign="middle" style="text-align:center">
		<a href="http://www.lushu.com" target="_blank" style="text-decoration:none; display:inline-block; width:260px; height:40px; line-height:40px; background-color:#00A4A8; color:#fff">开始高效工作, 立即体验</a>
		</td>
		<td><img src="https://static.lushu.com/images/email/blank.jpg" width="50" height="100" border="none" style="display:block"/></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>

如果按钮无法点击，请将以下地址复制到浏览器打开路书网站登录： 
<a href="https://www.lushu.com" target="_blank" style="color:#00A4A8; text-decoration:none">https://www.lushu.com</a>


<br/><br/>
路书云——专业的旅游行程编辑平台，为旅行社、定制游公司提供专业的技术支持，协助OP设计行程、积累线路模版，提高线路重复使用率。覆盖全球200个国家和地区、4000多个目的地，致力于实现旅游定制行业的专业化、效率化、规模化。<br/><br/>

如有任何疑问，登录之后可以通过帮助中心和讨论区获得帮助。<br/><br/>
或者加入我们的路书云 QQ讨论群：570436164<br/><br/>

版权所有 © 路书（北京）科技有限公司 


		</td>
		<td>&nbsp;</td>
	</tr>


	
	<tr>
		<td><img src="https://static.lushu.com/images/email/blank.jpg" width="50" height="50" border="none" style="display:block"/></td>
		<td></td>
		<td>&nbsp;</td>
	</tr>
	
</table>


  

</body>
</html>
